* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner-container-Construction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 1200px;
}

.outer-container-Construction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

img{
    width: 40%;
}