.header {
    color: #fff;
    display: flex;
    flex-direction: row;
    background-image: url('../../assets/images/AnimeWallpaper4_waifu2x_art_noise1_scaleWebp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    /*background-attachment: fixed;*/

}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 20px 0;
    width: 100%;
}